:root {
  --white: white;
  --gray: #E5E5E5;
  --gray2: #333;
  --gray3: #444;
  --green: #03ff9a;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box ;
}

footer {
  color: black;
  background: var(--green);
  padding: 25px;
  text-align: center;
  border-top: 3px solid var(--black);
}

h1 {
  text-decoration: line;
}
  
.header {
  background-color: var(--gray2);
  padding: 5px;
  max-height: 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--green);
  color: var(--green);
  font-weight: bold;
}

.content{
  background: var(--gray3);
  margin: 0;
  max-width: 100%;
  align-items: center;
  color: white;
}

#logo {
  width: 25px;
  margin-right: 25px;
}

a {
  text-decoration: none;
  color: var(--green);
}